PROJECT_NAME		= BROWSER
FILE_PATTERNS		= *.cpp *.h
INCLUDE_PATH		= app/common
INCLUDE_FILE_PATTERNS	= *.h
PERL_PATH		= /usr/bin/perl

OUTPUT_LANGUAGE		= English
OPTIMIZE_OUTPUT_FOR_C	= YES
SEARCH_INCLUDES		= YES
ENABLE_PREPROCESSING	= YES

EXTRACT_ALL		= YES
EXTRACT_PRIVATE		= YES
EXTRACT_STATIC		= YES

GENERATE_HTML		= YES
HTML_OUTPUT		= ./doc/html

GENERATE_LATEX		= YES
LATEX_OUTPUT		= ./doc/latex
PAPER_TYPE		= a4







###############
## Input files
###############

INPUT = 
INPUT += app/tabs/src
INPUT += app/common/src
INPUT += app/log/src
INPUT += app/top/src
INPUT += app/menu/src
INPUT += app/commands/src
INPUT += app/json/src
INPUT += app/graphics/src
INPUT += app/main_window/src
INPUT += app/command_menu/src
INPUT += app/tabs/include
INPUT += app/common/include
INPUT += app/log/include
INPUT += app/top/include
INPUT += app/menu/include
INPUT += app/commands/include
INPUT += app/json/include
INPUT += app/graphics/include
INPUT += app/main_window/include
INPUT += app/command_menu/include
