PROJECT_NAME		= BROWSER
FILE_PATTERNS		= *.cpp *.h
INCLUDE_PATH		= app/common
INCLUDE_FILE_PATTERNS	= *.h
PERL_PATH		= /usr/bin/perl

OUTPUT_LANGUAGE		= English
OPTIMIZE_OUTPUT_FOR_C	= YES
SEARCH_INCLUDES		= YES
ENABLE_PREPROCESSING	= YES

EXTRACT_ALL		= YES
EXTRACT_PRIVATE		= YES
EXTRACT_STATIC		= YES

GENERATE_HTML		= YES
HTML_OUTPUT		= ./doc/html

GENERATE_LATEX		= YES
LATEX_OUTPUT		= ./doc/latex
PAPER_TYPE		= a4











###############
## Input files
###############

INPUT = 
INPUT += app/exception/src
INPUT += app/tabs/src
INPUT += app/menubar/src
INPUT += app/elided_label/src
INPUT += app/log/src
INPUT += app/top/src
INPUT += app/menu/src
INPUT += app/commands/src
INPUT += app/json/src
INPUT += app/graphics/src
INPUT += app/main_window/src
INPUT += app/common/src
INPUT += app/command_menu/src
INPUT += app/exception/src/src
INPUT += app/exception/include/src
INPUT += app/tabs/src/src
INPUT += app/tabs/include/src
INPUT += app/menubar/src/src
INPUT += app/menubar/include/src
INPUT += app/elided_label/src/src
INPUT += app/elided_label/include/src
INPUT += app/log/src/src
INPUT += app/log/include/src
INPUT += app/top/src/src
INPUT += app/menu/src/src
INPUT += app/menu/include/src
INPUT += app/commands/src/src
INPUT += app/commands/include/src
INPUT += app/json/src/src
INPUT += app/json/include/src
INPUT += app/graphics/src/src
INPUT += app/graphics/include/src
INPUT += app/main_window/tabs/src
INPUT += app/main_window/menubar/src
INPUT += app/main_window/window/src
INPUT += app/main_window/statusbar/src
INPUT += app/main_window/menu/src
INPUT += app/main_window/open_window/src
INPUT += app/common/include/src
INPUT += app/command_menu/src/src
INPUT += app/command_menu/include/src
INPUT += app/exception/include
INPUT += app/tabs/include
INPUT += app/menubar/include
INPUT += app/elided_label/include
INPUT += app/log/include
INPUT += app/top/include
INPUT += app/menu/include
INPUT += app/commands/include
INPUT += app/json/include
INPUT += app/graphics/include
INPUT += app/main_window/include
INPUT += app/common/include
INPUT += app/command_menu/include
INPUT += app/exception/src/include
INPUT += app/exception/include/include
INPUT += app/tabs/src/include
INPUT += app/tabs/include/include
INPUT += app/menubar/src/include
INPUT += app/menubar/include/include
INPUT += app/elided_label/src/include
INPUT += app/elided_label/include/include
INPUT += app/log/src/include
INPUT += app/log/include/include
INPUT += app/top/src/include
INPUT += app/menu/src/include
INPUT += app/menu/include/include
INPUT += app/commands/src/include
INPUT += app/commands/include/include
INPUT += app/json/src/include
INPUT += app/json/include/include
INPUT += app/graphics/src/include
INPUT += app/graphics/include/include
INPUT += app/main_window/tabs/include
INPUT += app/main_window/menubar/include
INPUT += app/main_window/window/include
INPUT += app/main_window/statusbar/include
INPUT += app/main_window/menu/include
INPUT += app/main_window/open_window/include
INPUT += app/common/include/include
INPUT += app/command_menu/src/include
INPUT += app/command_menu/include/include
